<!doctype html>

<html lang = "en">
    <head>
        <meta charset = "utf-8"/>
        <meta name = "description" content = "cinema booking system"/>
        <title>Cinema Booking System</title>
        <!-- external css -->
        <link href = "/style.css" type = "text/css" rel = "stylesheet" />
    </head>
    <body>
        <header>
            <h1>404 NOT FIND</h1>
        </header>
        <main>
            Page Not Find
        </main>
    </body>
</html>