<!doctype html>

<html lang = "en">
    <head>
        <meta charset = "utf-8"/>
        <meta name = "description" content = "home page of cinema booking system"/>
        <title>Cinema Booking System</title>
        <!-- external css -->
        <link href = "/style.css" type = "text/css" rel = "stylesheet" />
    </head>
    <body>
        <header>
            <h1>Manage Users</h1>
            <a href = "/">Home</a>
            <a href = "/logout">Log Out</a>
        </header>
        <main>
            {{#each users}}
                <section>
                    <h3>User name: {{this.user_name}}</h3>
                    <p>Role: {{this.role}}</p>
                    <p><a href = "/delete?name={{this.user_name}}">Delete</a></p>
                </section>
            {{/each}}
        </main>
    </body>
</html>
